{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- STYLE -->
<style>
    img {
        max-width: 100%;
        max-height: 100%;
        display: block;
        /* remove extra space below image */
    }

    .box {
        width: 250px;
        border: 5px solid black;
    }

    .box.large {
        height: 300px;
    }

    .box.small {
        height: 100px;
    }
</style>
<!--  -->


<div class="container row" style="margin-top: 100px;">

    <div class="container box col-lg-3 col-md-3 col-sm-12" style="height: fit-content; width: auto;">
        <img style="height: 290" src=" {% static 'images/kps.png' %}" alt="..." class="img-thumbnail">
    </div>

    <div class="container col-lg-3 col-md-3 col-sm-12" style="height: fit-content; width: auto; ">
        <img style="height: 290" src=" {% static 'images/kps.png' %}" alt="..." class="img-thumbnail">
    </div>

    <div class="container col-lg-3 col-md-3 col-sm-12" style="height: fit-content; width: auto; ">
        <img style="height: 290" src=" {% static 'images/kps.png' %}" alt="..." class="img-thumbnail">
    </div>

</div>
{% endblock %}